.popup__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  margin-bottom: 5px;
  max-width: 358px;
  min-height: 27px;
  border: 0;
  border-bottom: 1px solid #000000;
  border-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 550px) {
  .popup__text {
    max-width: 238px;
  }
}
