.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
}

@media (max-width: 460px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    margin-bottom: 5px;
    max-width: 225px;
  }
}
